<html lang="hu" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8"/>

    <link href="http://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>
<header>

    <style>
        .marginRight{
            margin-right: 5%;
            margin-left: 5%;
        }
        .dmb {
            width: 300px !important;
            height: 400px !important;
            right: 0% !important;
        }
        .short{
            min-width: 100% !important;
            background-color: white;
            color: black;
        }
        .hover-underline-animation {
          display: inline-block;
          position: relative;
          color: white;
        }
        .hover-underline-animation::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: white;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
        .hover-underline-animation:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>


    <nav class="navbar navbar-expand sticky-top bg-success">
        <div class="container-fluid fs-5">

            <!--Logo a cégnek-->
            <div class="navbar-brand">
                <img class="me-auto ms-5" th:src="@{/images/logo_hu.png}" width="45%">
            </div>

            <!--Lehetőségek a navbaron-->
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item marginRight">
                        <a class="nav-link text-light" href="#sights.html">Látnivalók</a>
                    </li>

                    <li class="nav-item marginRight">
                        <a class="nav-link text-light" href="#restaurants.html">Éttermek</a>
                    </li>

                    <li class="nav-item dropdown marginRight">
                        <a class="nav-link dropdown-toggle text-light" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Szórakozás
                        </a>
                        <ul class="dropdown-menu short" id="showEntertainment">
                            <li><a class="dropdown-item" href="#cinemas.html">Mozi</a></li>
                            <li><a class="dropdown-item" href="#theatres.html">Színház</a></li>
                        </ul>
                    </li>

                </ul>

                <!--Login oldalra irányít ha nincs valaki bejelentkezve-->
                <form sec:authorize="isAnonymous()" method="post" class="d-flex my-2 my-lg-0 me-3" th:action="@{/login}">
                    <button class="btn btn-outline-light" >Bejelentkezés</button>
                </form>

                <!--Bejelentkezett felhasználó neve-->
                <div sec:authorize="isAuthenticated()">
                    <label class="nav-item me-4 text-light hover-underline-animation"  th:text="'Helló, ' + ${userName}" />
                </div>

                <!--Kijelentkezés, amennyiben már valaki be van jelentkezve-->
                <form  sec:authorize="isAuthenticated()" class="d-flex my-2 my-lg-0 me-3" th:action="@{/logout}" method="post" tyle="margin-right: 5%;">
                    <button class="btn btn-light" type="submit">Kijelentkezés</button>
                </form>

                <!--Lehetővé teszi a regisztrációt, ha nincs még senki bejelentkezve-->
                <div  sec:authorize="isAnonymous()" class="dropdown" style="margin-right: 5%;">
                    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                      Regisztráció
                    </button>
                    <form class="dropdown-menu dmb p-4 dropdown-menu-end" id="showRegistration" th:action="@{/save}" method="post" th:object="${newUser}">
                      <div class="mb-3">
                        <label for="fullNameGiven" class="form-label">Teljes név</label>
                        <input type="text" class="form-control" th:field="*{fullName}" id="fullNameGiven" required minlength="2" maxlength="40">
                      </div>
                      <div class="mb-3">
                        <label for="emailGiven" class="form-label">Email cím</label>
                        <input type="email" class="form-control" th:field="*{credentials.loginName}" id="emailGiven" placeholder="email@pelda.hu" required>
                      </div>
                      <div class="mb-3">
                        <label for="passwordGiven" class="form-label">Jelszó</label>
                        <input type="password" class="form-control" th:field="*{credentials.password}" id="passwordGiven" placeholder="Jelszó" required minlength="6" maxlength="10">
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="remember" name="checkbox" value="checked">
                          <label class="form-check-label" for="remember">
                            Emlékezz rám
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success">Regisztráció</button>
                    </form>
                </div>

                <!--Nyelv kiválasztása-->
                <div class="nav-item dropdown me-4">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        HU
                    </button>
                    <ul class="dropdown-menu short" id="showLanguage">
                        <li><a class="dropdown-item" href="#en.html">EN</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    </header>

    <body>

    </body>

</html>